:root {
  --primary: #eb4174;
  --thirty: #a0b3f8;
  --fourty: #b5f0f0;
  --dark: #242628;
  --white: #fff;
  --greenLight: #07a787;
  --green: #3d8880;
}

body {
  background-image: linear-gradient(145deg, var(--thirty) 50%, var(--dark) 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: var(--white);
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

form {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}

.form-input {
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
}

.form-input input {
  padding: 0px 10px;
  font-size: 20px;
}

.form-eye::before {
  content: "\f070";
  font-weight: 900;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}

.form-eye.show::before {
  content: "\f06e";
}

.submit {
  margin-left: 10px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--dark);
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.validator {
  background-color: var(--thirty);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.validator p {
  padding: 10px 20px;
}

.validator p::before {
  content: "\f00d";
  font-weight: 900;
  width: 30px;
  display: inline-block;
  color: white;
  font-size: 20px;
}

.validator p.valid {
  color: rgba(255, 255, 255, 0.5);
}

.validator p.valid::before {
  content: "\f00c";
}
