:root {
  --primary: #eb4174;
  --thirty: #a0b3f8;
  --fourty: #b5f0f0;
  --dark: #242628;
  --white: #fff;
  --green: #07a787;
}

body {
  background-image: linear-gradient(to bottom, var(--thirty), var(--fourty));
  color: var(--white);
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  margin: 100px auto;
  background-color: #fff;
  padding-top: 10px;
  border-radius: 6px;
  overflow: hidden;
}

form {
  border-bottom: 1px solid #aaa;
  padding: 10px 20px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

form input {
  font-size: 24px;
  width: 100%;
  margin-right: 15px;
  border: none;
  outline: none;
}

form button {
  background-color: var(--thirty);
  padding: 5px 15px;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: none;
}

.todos {
  list-style: none;
}

.todos li {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
}

todos li span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

li.completed {
  color: #aaa;
}

li.completed span {
  text-decoration: line-through;
}
