:root {
  --primary: #eb4174;
  --thirty: #a0b3f8;
  --fourty: #b5f0f0;
  --dark: #242628;
  --white: #fff;
  --green: #07a787;
}

body {
  background-image: linear-gradient(45deg, var(--thirty), var(--fourty));
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}