:root {
  --white: #e9e9e9;
  --gray: #333;
  --darkBlue: #091921;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--darkBlue);
} */
body {
  overflow: hidden;
}
