*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  height: 100vh;
}

.container {
  background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.text {
  width: 80%;
}

.cookie {
  transform: scale(0.6);
  overflow: visible;
}

.cookie-title {
  font-size: 1rem;
  font-weight: 300;
}

.cookie-subtitle {
  font-weight: 700;
  font-size: 0.6rem;
  padding: 0.7rem 0;
}

button {
  border-style: none;
  padding: 0.5rem 1rem;
  color: #4f2626;
  font-size: 0.6rem;
  font-weight: 700;
  border-radius: 0.3rem;
}
