:root {
  --primary: #babecc;
  --secondary: #fff;
  --third: #ebecf0;
}

html,
body {
  background-color: var(--third);
}

body,
p,
input,
select,
textarea,
button {
  font-family: "Poppins" sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

div,
p {
  color: var(--primary);
  text-shadow: 1px 1px 1px var(--primary);
}

form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: var(--third);
  text-shadow: 1px 1px 0 var(--primary);
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px var(--primary),
    inset -5px -5px 10px var(--secondary);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  box-shadow: inset 1px 1px 2px var(--primary),
    inset -1px -1px 2px var(--secondary);
}

button {
  color: #61677c;
  font-weight: 600;
  box-shadow: -5px -5px 20px var(--secondary), 5px 5px 20px var(--primary);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  box-shadow: -2px -2px 5px var(--secondary), 2px 2px 5px var(--primary);
}

button:active {
  box-shadow: inset 1px 1px 2px var(--primary),
    inset -1px -1px 2px var(--secondary);
}

button .icon {
  margin-right: 8px;
}

button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}

button.unit .icon {
  margin-right: 0;
}

button.red {
  display: block;
  width: 100%;
  color: #ae1100;
}

.input-group {
  display: flex;
  align-items: flex-start;
}
